@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
 
:root {
  --light: #fffdfa;
  --dark: #111;
  --black: #000;
  --main: #ffd700;
  --support: #ff4500;
  --grey-1: #333;
  --grey-2: #999;
  --grey-3: #ccc;
  --grey-4: #eee;
  --transition: 0.5s ease-in-out; 
}

html {
  line-height: 1.5;
  color: var(--light);
  height: 100%;
}

body {
  margin: 0;
  padding: 2rem;
  background: var(--dark);
}

header {
  text-align: center;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

.logo {
  font-family: 'Sixtyfour', sans-serif;
  margin: 0;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: var(--main);
}

header p {
  margin: 0 auto;
  font-size: 1.15rem;
}

.locations-category {
  max-width: 85rem;
  background-color: var(--black);
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid var(--main);
  border-radius: 3px;
}

.locations-category h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  color: var(--main);
  text-align: center;
}

.fallback-text {
  text-align: center;
}

.locations {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
}

.location-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: var(--grey-1);
}

.location-item button {
  background: transparent;
  border: 1px solid var(--main);
  border-radius: 3px;
  color: var(--main);
  padding: 1rem;
  transition: var(--transition);
}

.location-item:nth-child(odd) button:hover {
  box-shadow: 0 0 8px 4px rgba(255, 68, 0, 0.6);
  border-radius: 8px;
  transform: rotate(5deg);
}

.location-item:nth-child(even) button:hover {
  box-shadow: 0 0 8px 4px rgba(255, 68, 0, 0.6);
  border-radius: 8px;
  transform: rotate(5deg);
}

.location-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.location-item h3 {
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
  margin: 1rem auto;
  background-color: var(--main);
  color: var(--dark);
  border-radius: 3px;
  padding: 0.15rem 0.35rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

#confirmation {
  padding: 1rem;
}

#confirmation h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--main);
}

#confirmation p {
  font-size: 1.15rem;
  margin: 0;
  max-width: 38ch;
  /* color: var(--light); */
}

#confirmation-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--main);
  border-radius: 3px;
  background-color: transparent;
  color: var(--main);
  transition: var(--transition);
}

.modal button:hover {
  background-color: var(--main);
  color: var(--dark);
}

.modal button#action-no {
  opacity: 0.8;
}

.button-text {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 1rem;
  color: blue; /* temp */
}

.modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  min-width: 30rem;
  padding: 0;
  z-index: 2;
  background-color: var(--dark);
  border-radius: 3px;
  border: 1px solid var(--main);
}

.centre {
  text-align: center;
}

#suggested-locations-section h2 {
  margin: 2rem;
  text-align: center;
  color: var(--main);
}

#suggested-locations {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#suggested-locations li {
  max-width: 20rem;
}
